/*määritellään listausten tyylit*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffc000;
  position: fixed;
  width: 100%;
  top: 0%;
  position: -webkit-sticky;
  position: sticky;
  
}

li {
  float:right;
}

li a {
  display: block;
  color:#28282f;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #d8af34;
}
li a:hover:not(.active) {
  background-color: #ffc000;
}

/* Resetoidaan selaimen oletustyylit */
body, h1, p {
  margin: 0;
  padding: 0;
}

/* Perusfontti ja taustaväri */
body {
  font-family: Arial, sans-serif;
  background-color:#f9f9fA; /* Vaaleanharmaa taustaväri */
  color:#28282f; /* Tummanharmaa tekstiväri */
}

/* Linkkien perustyyli */
a {
  color: #28282f; /* musta tekstiväri */
  text-decoration: none; /* Poistetaan alleviivaukset */
}


a:visited {
    color:#28282f;
}

/* Otsikot */
h1, h2, h3 {
  color: #333; /* Tummanharmaa tekstiväri */
}

/* Kappaleiden sisennys */
p {
  margin-bottom: 20px;
}

/* Container-div */
.container {
  width: 80%; /* Leveys 80% näytöstä */
  margin: 0 auto; /* Keskitetään sivu näytölle */
}

/* Footer-alue */
footer {
  background-color: #333; /* Tummanharmaa taustaväri */
  color: #fff; /* Valkoinen tekstiväri */
  padding: 10px; /* Pieni sisennys */
  position: fixed;
  bottom: 0;
  width: 100%;
}
